  .cabecalho-logo-do-colegio{
    margin: 2px; 
    width: 100px;;
  }
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  header {
    background: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  h1 {
    margin: 0;
    font-size: 2.5em;
  }
  
  .intro {
    padding: 20px;
    text-align: center;
  }

  .tech-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    text-align: center;
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }

  .card h2 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  .card p {
    padding: 0 10px 20px;
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }